[alias]
  br = branch
  ci = commit
  co = checkout
  di = diff
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  poh = push origin head
  st = status
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[pull]
  rebase = true
[push]
  default = simple
[url "git@github.com:"]
  insteadOf = https://github.com/
[user]
  email = dbolson@gmail.com
  name = Danny Olson
