.DS_Store
.tags
.tags-dep
.sass-cache
.lvimrc
*.db
*.swp
.idea/
*.retry

# clojure
.lein-repl-history
.nrepl-port
**/target/

# node
npm-debug.log
.eslintrc.js

# ruby
custom_plan.rb
zeus.json
.byebug_history

# python
.cache/
__pycache__/
.venv/
.env
*.pyc
