source ~/dotfiles/nvim/.config/nvim/core.vim

" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d - list of actions
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
"
" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree
set commentary
set highlightedyank

nnoremap <leader>E :NERDTreeFind<cr>
nnoremap <leader>V :action GotoTest<cr>
nnoremap <leader>cn :action GotoNextError<cr>
nnoremap <leader>cp :action GotoPreviousError<cr>
nnoremap <leader>e :NERDTreeToggle<cr>
nnoremap <leader>fe :NERDTreeFocus<cr>
nnoremap <leader>gb :action Annotate<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gu :action ShowUsages<cr>
nnoremap <leader>q :q<cr>
